<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <title>HI</title>
</head>
<body>

<div id="menu">
	<nav>
	<ul>
		<li><a href="/home">Song Search</a></li>
		<li><a href="/purchasedsongs">Purchased Songs</a></li>
	</ul>
	</nav>


	<div id="form">
		<h2>SEARCH FOR A SONG</h2>
		<form action="/home">
			<input type="text" name="song" placeholder="Enter: ">
			<br>
			<input type="submit" name="Search" value="Search">
		</form>
	</div>
</div>



	<div id="songinfo">
		<div class="divs">
			<img src="" id="songcover" height="300" width="200">
		</div>
		
		<div class="divs">
			<h1 id="song"></h1>
			<h2 id="artist"></h2>
			<h3 id="album"></h3>
			<h4 id="price"></h4>
			<form action="/home" method="post">
				<input type="submit" name="buy" value="Buy">
			</form>
		</div>	

		
		<div class="divs">
			<h2>Preview</h2>
			<button id="stop"><i class= "fa fa-stop-circle-o fa-3x" aria-hidden="true"></i></button>
			<button id="play"><i class= "fa fa-play-circle fa-3x" aria-hidden="true"></i></button>
			
		</div>
		
		<audio src="" id="audio"></audio>

	</div>


</body>
		<script
  		src="http://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
		<script src="script.js"></script>
</html>