<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <title>Media Search</title>
</head>
<body>

<div id="menu">
	<nav>
	<ul>
		<li><a href="/mediasearch">Media Search</a></li>
		<li><a href="/addedmedia">Added Media</a></li>
	</ul>
	</nav>


	<div id="form">
		<h2>SEARCH</h2>
		<form action="/mediasearch" id="myForm">
			<input type="text" name="song" placeholder="Enter: ">
			<br>
			<input type="radio" name="media" value="Music">
				<label for="media1">Music</label>
			<input type="radio" name="media" value="App">
				<label for="media2">App</label>
			<br>
			<input type="submit" name="Search" value="Search">
		</form>
	</div>
</div>



	<div id="songinfo">
		<div class="divs">
			<img src="" id="songcover" height="300" width="200">
		</div>
		
		<div class="divs">
			<h1 id="song"></h1>
			<h1 id="artist"></h1>
			<h1 id="album"></h1>
			<h1 id="price"></h1>
			<form action="/mediasearch" method="POST" id="add">
				<input type="submit" name="buy" value="ADD">
			</form>
		</div>	

		
		<div class="divs">
			<h1 id="preview">Preview</h1>
			<button id="play"><i class= "fa fa-play-circle fa-5x" aria-hidden="true"></i></button>
			<button id="stop"><i class= "fa fa-stop-circle fa-5x" aria-hidden="true"></i></button>
			
			
		</div>
		
		<audio src="" id="audio"></audio>

	</div>


</body>
		<script
  		src="http://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
		<script src="script.js"></script>
</html>