body{
	background-color: steelblue;
	margin: 0;
}

#menu{
	background-image: url(https://static.pexels.com/photos/12544/pexels-photo-12544.jpeg);
	height: 100vh;
	background-size: cover;
	overflow: auto;
	position: relative;

}

ul {
	list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-family: verdana;
    font-size: 17px;
}

li a:hover {
    background-color: hotpink;
}

h2{
	text-align: center;
	color: oldlace;
	font-size: 40px;
	font-family: verdana;
}

#song, #album, #artist, #price{
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: verdana;
}


#form{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	text-transform: 
	font-size: 25px;
	font-family: verdana;
	transform: translate(-50%, -50%);
}

#songinfo{
	background-color: hsla(188, 60%, 0%, .4);
	margin: 0 auto;
	overflow: auto;
	display: inline-block;
	width: 100%;
}

input[type=submit]{
	background-color: hotpink;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin: 10px;
}

input[type=text]{
	padding: 10px;
	color: hotpink;
	font-family: verdana;
	font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: lightpink}

th {
    background-color: hotpink;
    color: white;
}

button{
	margin: 0 auto;
}

.divs{
	text-align: center;
	width:30.6666666667%;
	margin: 10px;
	float: left;
}

#songcover{
	width: 70%;
	margin: 0 auto;
}